backend/dist
backend/node_modules
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontEnd/app-test/node_modules
frontEnd/app-test/.pnp
frontEnd/app-test.pnp.js

# testing
frontEnd/app-test/coverage

# production
frontEnd/app-test/build

# misc
frontEnd/app-test.DS_Store

frontEnd/app-test/npm-debug.log*
frontEnd/app-test/yarn-debug.log*
frontEnd/app-test/yarn-error.log*
